<!-- face_detection.launch -->
<launch>

  <!-- Create the ros parameter face_encoding_file -->
  <arg name="face_encoding_file" value="$(find mattbot_image_detection)/scripts/face_encodings.pkl" />
  <arg name="obama_file" value="$(find mattbot_image_detection)/scripts/obama.jpg" />

  <!-- Launch the person tracker script -->
  <node name="face_detection" pkg="mattbot_image_detection" type="face_detection.py" output="log">
    <param name="~face_encoding_file" value="$(arg face_encoding_file)" />
    <param name="~obama_file" value="$(arg obama_file)" />
  </node>

</launch>
